In [2]:
import pandas as pd
import numpy as np

In [2]:
# group score by day in one excel

In [3]:
bitcoinTalk = pd.read_csv("reddit_part2_sentiment_score.csv", 
                 header=0,usecols=[1,2])

In [4]:
bitcoinTalk.head()

   sentiment_score        date
0         0.997730  28/03/2018
1        -0.899490  28/03/2018
2         0.978684  28/03/2018
3         0.995980  28/03/2018
4         0.771270  28/03/2018

In [5]:
grouped = bitcoinTalk.groupby("date")

In [6]:
bitcoinTalk.shape

(121801, 2)

In [10]:
grouped.mean()

            sentiment_score
date
01/01/2019         0.326837
01/02/2019         0.200740
01/03/2019         0.203099
01/04/2018         0.221544
01/04/2019         0.282552
...                     ...
31/08/2018         0.115960
31/08/2019         0.272236
31/10/2018         0.232351
31/10/2019        -0.053041
31/12/2018         0.313282

[587 rows x 1 columns]

In [98]:
grouped = grouped.mean()

In [99]:
grouped = pd.DataFrame(grouped)

In [100]:
grouped.to_csv("sentiment\\reddit_sentiment_part2.csv")

In [ ]:
# group different excels into one file

In [119]:
file1 = "sentiment\\bitcoinTalk_sentiment_part1.csv"

In [120]:
file2 = "sentiment\\bitcoinTalk_sentiment_part2.csv"

In [121]:
file3 = "sentiment\\bitcoinTalk_sentiment_part3.csv"

In [122]:
file4 = "sentiment\\bitcoinTalk_sentiment_part4.csv"

In [123]:
file5 = "sentiment\\bitcoinTalk_sentiment_part5.csv"

In [124]:
bitcoinTalk_1 = pd.read_csv(file1,header=0)

In [127]:
bitcoinTalk_2 = pd.read_csv(file2,header=0)
bitcoinTalk_3 = pd.read_csv(file3,header=0)
bitcoinTalk_4 = pd.read_csv(file4,header=0)
bitcoinTalk_5 = pd.read_csv(file5,header=0)

In [128]:
print(bitcoinTalk_1.shape)
print(bitcoinTalk_2.shape)
print(bitcoinTalk_3.shape)
print(bitcoinTalk_4.shape)
print(bitcoinTalk_5.shape)

(190, 2)
(149, 2)
(337, 2)
(821, 2)
(905, 2)

In [134]:
bitcoinTalk=pd.concat([bitcoinTalk_1,bitcoinTalk_2,bitcoinTalk_3,bitcoinTalk_4,bitcoinTalk_5])

In [135]:
bitcoinTalk.shape

(2402, 2)

In [136]:
bitcoinTalk.head()

        date  sentiment_score
0   2017/1/1         0.514349
1  2017/1/10         0.556200
2  2017/1/11         0.318405
3  2017/1/12         0.630780
4  2017/1/13         0.437245

In [137]:
bitcoinTalk_1.head()

        date  sentiment_score
0   2017/1/1         0.514349
1  2017/1/10         0.556200
2  2017/1/11         0.318405
3  2017/1/12         0.630780
4  2017/1/13         0.437245

In [148]:
bitcoinTalk_grouped = bitcoinTalk.groupby("date")

In [149]:
bitcoinTalk_grouped = pd.DataFrame(bitcoinTalk_grouped.mean())

In [150]:
bitcoinTalk_grouped.shape

(1461, 1)

In [172]:
bitcoinTalk_grouped.head()

           sentiment_score
date
2017/1/1          0.514349
2017/1/10         0.516377
2017/1/11         0.571783
2017/1/12         0.745859
2017/1/13         0.454587

In [151]:
bitcoinTalk_grouped.to_csv("sentiment\\bitcoinTalk_sentimentscore.csv")

In [152]:
reddit_file1 = "sentiment\\reddit_sentiment_part1.csv"

In [153]:
reddit_file2 = "sentiment\\reddit_sentiment_part2.csv"

In [154]:
reddit_file3 = "sentiment\\reddit_sentiment_part3.csv"

In [155]:
reddit_1 = pd.read_csv(reddit_file1,header=0)
reddit_2 = pd.read_csv(reddit_file2,header=0)
reddit_3 = pd.read_csv(reddit_file3,header=0)

In [161]:
reddit = pd.concat([reddit_1,reddit_2,reddit_3])

In [160]:
print(reddit_1.shape)
print(reddit_2.shape)
print(reddit_3.shape)

(886, 2)
(587, 2)
(434, 2)

In [173]:
reddit_1.head()

         date  sentiment_score
0  01/01/2017         0.370568
1  01/01/2018         0.190696
2  01/01/2020         0.081500
3  01/01/2021         0.321024
4  01/02/2017         0.337671

In [162]:
reddit.shape

(1907, 2)

In [174]:
reddit.head()

         date  sentiment_score
0  01/01/2017         0.370568
1  01/01/2018         0.190696
2  01/01/2020         0.081500
3  01/01/2021         0.321024
4  01/02/2017         0.337671

In [175]:
reddit_grouped = pd.DataFrame(reddit.groupby("date").mean())

In [176]:
reddit_grouped.shape

(1472, 1)

In [177]:
reddit_grouped.head()

            sentiment_score
date
01/01/2017         0.370568
01/01/2018         0.190696
01/01/2019         0.326837
01/01/2020         0.081500
01/01/2021         0.321024

In [180]:
reddit_grouped.columns

Index(['sentiment_score'], dtype='object')

In [181]:
reddit_grouped.to_csv("sentiment\\reddit_sentimentscore.csv")

In [ ]:
# reformat the reddit forum date

In [10]:
from datetime import datetime

In [187]:
lastconnection = datetime.strptime("21/12/2008", "%d/%m/%Y").strftime('%Y/%m/%d')

In [188]:
lastconnection

'2008/12/21'

In [189]:
reddit_old_format = pd.read_csv("sentiment\\reddit_sentimentscore.csv",header=0)

In [16]:
reddit_counts = pd.read_csv("..\\total_redit.csv", header=0)

In [17]:
reddit_counts.head()

         Date  Total Comments
0  01/01/2017             206
1  02/01/2017             239
2  03/01/2017             307
3  04/01/2017             202
4  05/01/2017             290

In [18]:
def updateDate(d):
    return datetime.strptime(d, "%d/%m/%Y").strftime('%Y/%m/%d')

In [22]:
reddit_counts_new = pd.DataFrame()
reddit_counts_new["date"] = reddit_counts.Date.apply(updateDate)
reddit_counts_new["Total_number"] = reddit_counts["Total Comments"]

In [24]:
reddit_counts_new.head()

         date  Total_number
0  2017/01/01           206
1  2017/01/02           239
2  2017/01/03           307
3  2017/01/04           202
4  2017/01/05           290

In [26]:
reddit_counts_new.to_csv("number\\total_reddit.csv", index=False)

In [196]:
reddit_new_format = pd.DataFrame()
reddit_new_format["date"] = reddit_old_format.date.apply(updateDate)

In [198]:
reddit_new_format["sentiment_score"] = reddit_old_format.sentiment_score

In [199]:
reddit_new_format.head()

         date  sentiment_score
0  2017/01/01         0.370568
1  2018/01/01         0.190696
2  2019/01/01         0.326837
3  2020/01/01         0.081500
4  2021/01/01         0.321024

In [200]:
reddit_new_format.to_csv("sentiment\\reddit_sentimentscore_newformat.csv")

In [ ]:
# count the comments number of every day

In [2]:
file1 = "..\\new_data_format\\new_data_format\\2017-1-7.csv"

In [3]:
file2 = "..\\new_data_format\\new_data_format\\2017-1-9.csv"

In [4]:
file3 = "..\\new_data_format\\new_data_format\\2017-2018.csv"

In [5]:
file4 = "..\\new_data_format\\new_data_format\\2017-2019.csv"

In [6]:
file5 = "..\\new_data_format\\new_data_format\\2017-2020.csv"

In [8]:
number1 = pd.read_csv(file1,header=0,usecols=[8])

In [9]:
number1.shape

(28396, 1)

In [21]:
number1_grouped = pd.DataFrame(number1.groupby("CommentsTime").size())

In [22]:
number1_grouped.shape

(190, 1)

In [23]:
number1_grouped.head()

                0
CommentsTime
2017/1/1       50
2017/1/10     193
2017/1/11     199
2017/1/12      96
2017/1/13     103

In [24]:
number1_grouped.sum()

0    28396
dtype: int64

In [28]:
number1_grouped.columns=["Number"]

In [30]:
number1_grouped.to_csv("number\\bitcoinTalk_part1_number.csv")

In [31]:
number2 = pd.read_csv(file2,header=0,usecols=[8])

In [32]:
number2.shape

(15952, 1)

In [33]:
number2_grouped = pd.DataFrame(number2.groupby("CommentsTime").size())

In [35]:
number2_grouped.shape

(149, 1)

In [36]:
number2_grouped.sum()

0    15952
dtype: int64

In [37]:
number2_grouped.columns=["Number"]

In [38]:
number2_grouped.to_csv("number\\bitcoinTalk_part2_number.csv")

In [39]:
number3 = pd.read_csv(file3,header=0,usecols=[8])
number3_grouped = pd.DataFrame(number3.groupby("CommentsTime").size())
number3_grouped.columns=["Number"]
number3_grouped.to_csv("number\\bitcoinTalk_part3_number.csv")

In [40]:
number4 = pd.read_csv(file4,header=0,usecols=[8])
number4_grouped = pd.DataFrame(number4.groupby("CommentsTime").size())
number4_grouped.columns=["Number"]
number4_grouped.to_csv("number\\bitcoinTalk_part4_number.csv")

In [41]:
number5 = pd.read_csv(file5,header=0,usecols=[8])
number5_grouped = pd.DataFrame(number5.groupby("CommentsTime").size())
number5_grouped.columns=["Number"]
number5_grouped.to_csv("number\\bitcoinTalk_part5_number.csv")

In [44]:
n1 = pd.read_csv("number\\bitcoinTalk_part1_number.csv",header=0)

In [45]:
n1.shape

(190, 2)

In [49]:
n2 = pd.read_csv("number\\bitcoinTalk_part2_number.csv",header=0)
n3 = pd.read_csv("number\\bitcoinTalk_part3_number.csv",header=0)
n4 = pd.read_csv("number\\bitcoinTalk_part4_number.csv",header=0)
n5 = pd.read_csv("number\\bitcoinTalk_part5_number.csv",header=0)

In [50]:
total = pd.DataFrame()
total = pd.concat([n1,n2,n3,n4,n5])

In [51]:
total.shape

(2402, 2)

In [53]:
total_grouped = total.groupby("CommentsTime").sum()

In [54]:
total_grouped.shape

(1461, 1)

In [55]:
total_grouped.head()

              Number
CommentsTime
2017/1/1          50
2017/1/10        249
2017/1/11        215
2017/1/12        139
2017/1/13        123

In [56]:
total_grouped.to_csv("number\\total_bitcoinTalk.csv")

In [27]:
# group bitcointalk and reddit forum data

In [28]:
# group total comments number

In [50]:
reddit_number = pd.read_csv("number\\total_reddit.csv", header=0)
bitcoin_number = pd.read_csv("number\\total_bitcoinTalk.csv", header=0)

In [51]:
reddit_number.shape

(1471, 2)

In [52]:
reddit_number.head()

       date  Total_number
0  2017/1/1           206
1  2017/1/2           239
2  2017/1/3           307
3  2017/1/4           202
4  2017/1/5           290

In [53]:
bitcoin_number.shape

(1461, 2)

In [54]:
bitcoin_number.head()

       date  Total_number
0  2017/1/1            50
1  2017/1/2           112
2  2017/1/3           183
3  2017/1/4           134
4  2017/1/5           118

In [55]:
total = pd.DataFrame()
total = pd.concat([reddit_number, bitcoin_number])

In [56]:
total.shape

(2932, 2)

In [57]:
total.head()

       date  Total_number
0  2017/1/1           206
1  2017/1/2           239
2  2017/1/3           307
3  2017/1/4           202
4  2017/1/5           290

In [58]:
total = total.groupby("date").sum()

In [59]:
total.shape

(1487, 1)

In [60]:
total.head()

           Total_number
date
2017/1/1            256
2017/1/10           422
2017/1/11           449
2017/1/12           446
2017/1/13           370

In [61]:
total.to_csv("number\\total_comments_numbers.csv")

In [ ]:
# add reddit and bitcoinTalk score

In [62]:
reddit_score = pd.read_csv("sentiment\\reddit_sentimentscore_newformat.csv", header=0)
bitcoin_score = pd.read_csv("sentiment\\bitcoinTalk_sentimentscore.csv", header=0)

In [63]:
reddit_score.shape

(1471, 2)

In [64]:
bitcoin_score.shape

(1461, 2)

In [65]:
reddit_score.head()

       date  sentiment_score
0  2017/1/1         0.370568
1  2017/1/2         0.257054
2  2017/1/3         0.421696
3  2017/1/4         0.123776
4  2017/1/5         0.038527

In [66]:
bitcoin_score.head()

        date  sentiment_score
0   2017/1/1         0.514349
1  2017/1/10         0.516377
2  2017/1/11         0.571783
3  2017/1/12         0.745859
4  2017/1/13         0.454587

In [67]:
total_score = pd.concat([bitcoin_score, reddit_score])

In [68]:
total_score.shape

(2932, 2)

In [69]:
total_score.head()

        date  sentiment_score
0   2017/1/1         0.514349
1  2017/1/10         0.516377
2  2017/1/11         0.571783
3  2017/1/12         0.745859
4  2017/1/13         0.454587

In [70]:
total_score = total_score.groupby("date").sum()

In [71]:
total_score.shape

(1487, 1)

In [76]:
total_score.head()

           sentiment_score
date
2017/1/1          0.884918
2017/1/10         0.892749
2017/1/11         0.683567
2017/1/12         0.830503
2017/1/13         0.475576

In [75]:
total_score.to_csv("sentiment\\total_sentiment_score.csv")

In [77]:
# get the closing price

In [78]:
bitcoinPrice = pd.read_csv("..\\Input_to_Model2\\BTC-USD-2017-2020.csv", header = 0, usecols = [0,4])

In [79]:
bitcoinPrice.shape

(1462, 2)

In [80]:
bitcoinPrice.head()

         Date        Close
0  01/01/2017   998.325012
1  02/01/2017  1021.750000
2  03/01/2017  1043.839966
3  04/01/2017  1154.729980
4  05/01/2017  1013.380005

In [81]:
bitcoinPrice.Date = bitcoinPrice.Date.apply(updateDate)

In [82]:
bitcoinPrice.head()

         Date        Close
0  2017/01/01   998.325012
1  2017/01/02  1021.750000
2  2017/01/03  1043.839966
3  2017/01/04  1154.729980
4  2017/01/05  1013.380005

In [84]:
bitcoinPrice.to_csv("price\\closingPrice.csv", index=False)

In [91]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [122]:
trends = pd.read_excel("..\\Input_to_Model2\\Aggregation.xls", header = 0)

In [123]:
trends.shape

(1462, 2)

In [124]:
trends.head()

        Date  Trends
0 2017-01-01    14.0
1 2017-01-02    27.0
2 2017-01-03    24.0
3 2017-01-04    26.0
4 2017-01-05    32.0

In [125]:
def updateDateT(d):
    #print(type(d))
    return d.date().strftime('%Y/%#m/%#d')

In [126]:
trends.dtypes

Date      datetime64[ns]
Trends           float64
dtype: object

In [127]:
trends[trends["Date"]=="2017-01-01"]["Trends"]

0    14.0
Name: Trends, dtype: float64

In [128]:
trends.Date = trends.Date.apply(updateDateT)

In [129]:
trends.head()

       Date  Trends
0  2017/1/1    14.0
1  2017/1/2    27.0
2  2017/1/3    24.0
3  2017/1/4    26.0
4  2017/1/5    32.0

In [130]:
bitcoinPrice = pd.read_csv("price\\closingPrice.csv", header=0)

In [131]:
bitcoinPrice.head()

         Date        Close
0  2017/01/01   998.325012
1  2017/01/02  1021.750000
2  2017/01/03  1043.839966
3  2017/01/04  1154.729980
4  2017/01/05  1013.380005

In [136]:
def updateDateZ(d):
    #print(type(d))
    return datetime.strptime(d,'%Y/%m/%d').strftime('%Y/%#m/%#d')

In [137]:
bitcoinPrice.Date = bitcoinPrice.Date.apply(updateDateZ)

In [138]:
bitcoinPrice.head()

       Date        Close
0  2017/1/1   998.325012
1  2017/1/2  1021.750000
2  2017/1/3  1043.839966
3  2017/1/4  1154.729980
4  2017/1/5  1013.380005

In [139]:
test= bitcoinPrice

In [141]:
total_data = test.join(trends.set_index("Date"), on="Date")

In [142]:
scores = pd.read_csv("..\\Input_to_Model2\\total_sentiment_score.csv", header = 0)

In [143]:
scores.head()

       date  sentiment_score
0  2017/1/1         0.884918
1  2017/1/2         1.018706
2  2017/1/3         0.900894
3  2017/1/4         0.863922
4  2017/1/5         0.254463

In [144]:
scores.rename(columns={"date": "Date", "sentiment_score": "Score"}, errors="raise",inplace=True)

In [145]:
scores.head()

       Date     Score
0  2017/1/1  0.884918
1  2017/1/2  1.018706
2  2017/1/3  0.900894
3  2017/1/4  0.863922
4  2017/1/5  0.254463

In [149]:
scores.shape

(1487, 2)

In [146]:
total_data = total_data.join(scores.set_index("Date"), on="Date")

In [150]:
total_data.tail()

            Date        Close      Trends     Score
1457  2020/12/28  27084.80859  162.920875  0.868294
1458  2020/12/29  27362.43750  136.111111  0.765014
1459  2020/12/30  28840.95313  156.734007  0.826808
1460  2020/12/31  29001.72070  152.609428  0.902876
1461    2021/1/1  29374.15234  152.609428  0.321024

In [148]:
total_data.shape

(1462, 4)

In [151]:
counts = pd.read_csv("..\\Input_to_Model2\\total_comments_numbers.csv", header = 0)

In [152]:
counts.shape

(1487, 2)

In [153]:
counts.head()

       date  Total_number
0  2017/1/1           256
1  2017/1/2           351
2  2017/1/3           490
3  2017/1/4           336
4  2017/1/5           408

In [156]:
counts.rename(columns = {"date":"Date", "Total_number": "Number"}, errors = "raise", inplace = True)

In [157]:
counts.head()

       Date  Number
0  2017/1/1     256
1  2017/1/2     351
2  2017/1/3     490
3  2017/1/4     336
4  2017/1/5     408

In [159]:
total_data = total_data.join(counts.set_index("Date"),on = "Date")

In [160]:
total_data.head()

       Date        Close  Trends     Score  Number
0  2017/1/1   998.325012    14.0  0.884918     256
1  2017/1/2  1021.750000    27.0  1.018706     351
2  2017/1/3  1043.839966    24.0  0.900894     490
3  2017/1/4  1154.729980    26.0  0.863922     336
4  2017/1/5  1013.380005    32.0  0.254463     408

In [161]:
total_data.shape

(1462, 5)

In [ ]:
# save the total data

In [162]:
total_data.to_csv("..\\Model2\\totalData.csv", index = False)